.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "navbar"
        "nucleo"
        "final";
    min-height: 100vh;
    background-color: #f8e1ce;
}

.navbar {
    grid-area: navbar;
    background-color: #809671;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
    position: sticky;
    top: 0;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.navbar .navbar-brand,
.navbar .nav-link,
.navbar .navbar-nav .nav-link.active {
    color: #f5f5dc;
    font-weight: 650;
    text-decoration: overline;
}

.navbar .navbar-brand .logo {
    height: 2em;
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
    color: #2A2A24;
    background-color: #e5d2b8;
    border-radius: 0.25em;
}

.navbar .nav-item {
    padding: 0 1.5em;
}

.navbar .navbar-brand img {
    height: 2rem;
    max-height: 2rem;
}

.navbar .nav-link {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 1rem;
}

.btn-outline-success {
    border-color: #2A2A24;
    color: #2A2A24;
    background-color: #f5f5dc;
}
.btn-outline-success:hover {
    background-color: #607750;
    color: #f5f5dc;
    border-color: #607750;
}

.nucleo {
    grid-area: nucleo;
    background-color: #f8e1ce;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2em 0;
}

.final {
    grid-area: final;
    background-color: #809671;
    color: #f5f5dc;
    text-align: center;
    padding: 1em 0;
}

.item-list-container {
    padding: 2rem;
    text-align: center;
}

@media (max-width: 768px) {
    .navbar .nav-item {
        padding: 0 0.5em;
    }
    .item-list-container {
        padding: 1rem;
    }
}